/* Common css part start  */
*{
    margin: 0;
    padding: 0;

}
/* Common css part  End  */
/* logo and nav bar part start  */
.nav-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: gray;
}
.logo{
    cursor: pointer;
}
.nav-bar{
    display: flex;
    list-style: none;
    gap: 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.nav-bar li:hover{
    color: #F94C30;
    
}
/* logo and nav bar part  End   */
/* Banner part css start  */
.banner-container{
    height: 100vh;
    background-image: url(../img/image/1bg.jpg),
    linear-gradient(rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.4));
    background-blend-mode:overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-info{
    text-align: center;
    padding-top: 25%;
}
.banner-info h2{
   font-size: 70px;
   font-weight: 900;
   font-family: 'Roboto Slab', serif;
   color: white;
}
.banner-info h2 span{
    color: #F94C30;
}
.banner-info p{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;

}
.A-btn{
    background-color: #F94C30;
    padding: 15px 15px;
    border: none;
    margin-top: 25px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif ;
    color: #ffffff;
}
.A-bt{
    background-color: #ffffff;
    padding: 15px 15px;
    border: none;
    margin-top: 25px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif ;
    cursor: pointer;
}
/* Banner part css end */
/* services part css start  */
.services-container{
    height: 100vh;
    background-image: url(../img/image/footer-bg.png),
    linear-gradient(rgb(0, 0, 0,0.9),rgb(0, 0, 0,1));
    background-blend-mode:overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.service-info{
    padding: 20px;
   
}
.s-btn{
    background-color: #F94C30;
    padding: 15px 20px;
    border: none;
    margin-top: 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif ;
    color: #ffffff;
}
.s-text{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    color: white;
    /* width: 50%; */
    margin-top: 20px;
}
.s-text p{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    
}
.in-line{
    margin-top: 20px;
    padding-left: 20px;
}
.card{
    width: 100px;
    height: 100px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: black;
}
.c-img{
    width: 70px;
}
.all-cards{
    display: flex;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
}
.autor-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
  
    
}
.profile-img{
    border-right: 2px solid red ;
    padding-right: 20px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  
   
}
.profile-img{
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Services part part css end  */
/* service info part css part start  */
.phone-call{
    display: flex;
    align-items: center;
    gap: 15px;
}
.appintment-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: #F94C30;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: -35px;
    align-items: center;
}
.app-btn{
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(255, 255, 255) ;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif ;
    cursor: pointer;
}
/* Service info part css end  */
/* blog part css part start  */
.blog-container{
    width: 80%;
    margin: auto;
}
.blog-info h6{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif ;
    color: black;
    text-align: center;
    margin-top: 30px ; 

}
.blog-info h6 span{
    color: #F94C30;
}
.blog-info p{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    margin-top: 15px;
}
.blog-card{
    width: 200px;
    height: 350px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 10px;
   
    
}
.blog-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.b-img{
    width: 100%;
    border-radius: 10px;
}
.b-card h5{
    font-size: 15px;
    font-weight: 400;   
    font-family:'Roboto Slab', serif ;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.b-card p{
    font-size: 10px;
    font-weight: 400;   
    font-family:'Roboto Slab', serif ;
    color: black;
    text-align: center;
    margin-top: 10px;
}
/* blog part css part  End   */
/* Footer part start  */
.footer-container{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.f-info{
    font-size: 30px;
    font-weight: 400;   
    font-family:'Roboto Slab', serif ;
    color: rgb(255, 255, 255);
}
.usfull-link a{
    color: #ffffff;
    display:block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;   
    font-family:'Roboto Slab', serif ;
    margin-top: 25px;
    
    
}

.f-icon{
    list-style: none;
    font-size: 30px;
    color: #000000;
}
.social-link{
    display: flex;
    gap: 25px;
    align-items: center;
}

/* footer part end  */